* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background: #f5f5dc; */
    background: #4CAF50;
}

.navBar {
    font-family: "Helvetica Neue", Arial, sans-serif;
    /* border: 2px solid black; */
    padding: 8px 18px 8px 26px;
    /* background: #4CAF50; */
    background: #f5f5dc;
}

.navDiv {
    display: flex;
    /*  
    👆
    This makes .navDiv a flex container, which means its child elements (the logo and the list items) will be arranged in a flexible, responsive layout. By default, flex items are laid out in a row (horizontally).
    */
    align-items: center;
    /* 
    👆
    This vertically centers the child elements inside the .navDiv. It's aligning them along the cross-axis (which is vertical in this case).
    */
    justify-content: space-between;
    /*  
    👆
    This creates equal spacing between the child elements (logo and list items), pushing the first item to the left and the last item to the right. Any remaining space is distributed evenly between the items.
    */
}

.logoNibbana a img {
    border-radius: 50%;
    border: 3px solid #4CAF50;
}

.navDiv li {
    list-style: none;
    display: inline-block;
    /*  
    👆
    This changes the <li> element from a block-level element (which takes up the full width and starts on a new line) to an inline-block. 
    */
}

.navDiv li a {
    font-size: 18px;
    color: #4CAF50;
    margin-right: 25px;
}